*.exe
*.pkg
*.pt
*.toc
*.pyz
*.pth
*.pb
checkpoints/
models/*
dist/*
build/
venv/
SuperPoint/__pychache__/
SuperPoint/exper/
ContrastiveUnpairedTranslation/checkpoints/
ContrastiveUnpairedTranslation/datasets/
ContrastiveUnpairedTranslation/results/
ContrastiveUnpairedTranslation/__pychache__/